@media (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    .buut_on{
      font-size: 14px;
padding: 5px 28px;
width: 36vw;
/* margin: 9px; */
font-weight: 200;
    }
    .welcome_text .page-title h2 {
       color: white;
    text-transform: uppercase;
    background-color: rgba(183, 128, 24, 0.38);
    position: absolute;
    top: 480%;
    left: 26%;
    font-weight: 500;
    font-size: 19px;
    border-radius: 50%;
    padding: 35px 10px;
    width: 170px;
    height: 160px;

    .asks-first {
        padding: 15px;
        margin-bottom: 10px;
    }
    .asks-first-info {
        color: #FFF;
        margin: 5px;
    }
    .welcome-circle {
        background-color: transparent;
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin: -18px 0px;
        border: 10px solid #FFF;
        position: relative;
        z-index: 1000;
    }
    .welcome-estate {
        background-color: #FFF;
        padding: 10px 0px;
        text-align: center;
        fill: #FFF;
    }
    .Welcome-area .container .Welcome-entry {
        padding: 10px 5px 65px;
        overflow: hidden;
    }
    .Welcome-area{
    background: #F3F3F3 url(../../assets/img/welcome-bg.png) no-repeat scroll left top;
    position: relative;
    height: 91vh;
    width: 140%!important;


}

    }
    .header-connect {
        text-align: center;
    }
    .register-area {
        padding: 50px 0px;
    }
    .register-area .col-md-6 {
        margin-bottom: 15px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        background-color: #FFF !important;
    }
    .navbar-default .navbar-nav>li>a::after {
        background-color: #FFF !important;
    }
    .slider-content {
        top: 10%;
    }
    .search-btn,
    .toggle-btn {
        margin-bottom: 15px;
    }
    .proerty-th {
        margin-left: 0px;
    }
    .header-call p span {
        margin-right: 10px;
        font-size: 12px;
    }
    .header-call p span i {
        font-size: 14px;
    }
    .header-social ul {
        padding-top: 0px;
    }
    .header-social ul li a {
        font-size: 12px;
    }
    .navbar .container {
        padding: 10px 15px;
    }
    .navbar {
        min-height: 75px;
    }
    .navbar-collapse {
        margin-top: 15px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .nav-button {
        font-size: 13px;
        padding: 6px 13px;
        width: 30vw;
    }
    .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 6px;
    }
    .main-nav {
        padding-top: 4px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        bottom: -2px;
        height: 2px;
        width: 100%;
    }
    .navbar-default .navbar-nav>li>a::after {
        bottom: -2px;
        height: 2px;
    }
    .slider-area .container {
        padding: 0px 25px;
    }
    .slider-content {
        padding: 10px;
    }
    .search-toggle .mar-l-20 {
        margin-left: 0px;
    }
    .prop-btm-sheaerch {
        display: block;
        margin: 0 auto;
    }
    .slider-content h2 {
        font-size: 21px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 20px;
    }
    .search-form {
        padding: 15px;
    }
    .search-form .form-inline .form-group {
        width: 100%;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    .bootstrap-select button.dropdown-toggle {
        width: 100%;
    }
    .search-form .search-toggle {
        margin-top: 15px;
        overflow: hidden;
        padding: 0px;
    }
    .form-inline .form-control,
    .form-inline .form-control {
        width: 100%;
    }
    .slider-content {
        top: 5%;
    }
    .slider-area {
        height: 440px;
    }
    .home-area-1 {
        padding-top: 65px;
    }
    #bg-slider .item img {
        height: 440px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 30px;
    }
    .page-title {
        padding-top: 50px;
    }
    .page-title h2 {
        font-size: 20px;
        margin-top: 2px;
    }
    .page-title h5 {
        font-size: 12px;
    }
    .page-title p {
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px;
        padding: 0 5%
    }
    .nav>li>a {
        padding: 8px 10px;
    }
    .nav-tabs>li>a {
        font-size: 12px;
    }
    .tab-content ul li {
        height: 235px;
        margin-bottom: 20px;
        width: 219px;
    }
    .tab-content ul li a img {
        height: 100%;
        width: 100%;
    }
    .overlay {
        height: 235px;
        top: -104px;
    }
    .client-text {
        margin-left: 8px;
        padding: 20px 16px;
    }
    .client-face>img {
        border: 2px solid #fff;
        width: 60px;
    }
    .testimonial .item .client-face {
        right: 15px;
        top: 100px;
    }
    .footer-copy {
        padding: 0 20px;
    }
    .single-footer {
        margin-top: 35px;
    }
    .single-footer img {
        width: 150px;
    }
    .single-footer p {
        font-size: 13px;
    }
    .footer-copy span {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .single-footer ul li {
        margin-bottom: 5px;
    }
    .single-footer ul li a {
        font-size: 13px;
    }
    .client-text p {
        line-height: 20px;
        font-size: 13px;
    }
    .client-text h4 {
        font-size: 13px;
    }
    .client-text h4 i {
        font-size: 11px;
    }
    .home-lager-shearch .large-search {
        padding: 10px;
    }
    .home-lager-shearch {
        padding-top: 0px;
        margin-top: -200px;
    }
    .properties-area .pr0 {
        padding-right: 15px !important;
    }
    .proerty-th-list .col-md-4 .item-thumb img {
        height: 285px;
        width: 100%;
        padding-right: 14px;
    }
    .pl0 {
        padding-left: 15px !important;
    }
    .layout-switcher {
        display: none;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .icon_package {
        width: 25px;
        margin-left: 22px;
        margin-top: 5px;
    }
    .package_image {
        width: 180px;
        /* margin-top: -250px; */
        -webkit-box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        margin-top: -15px;
        margin-left: 23px;
    }
    .SilverFritoSat {
        width: 181px;
        background-color: #dcdcdccc;
        margin-left: 0px;
        margin-top: -64px;
        position: relative;
        z-index: 100000;
        margin-left: 23px;
    }
    .farmhouse_n {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }
    .responsives {
        width: 78%;
        margin-left: 10%;
        height: 390px;
    }
    .row.fav {
        margin-right: -38x;
        margin-left: 15px;
    }
    .modal_card {
        width: 96vw;
        height: 100px;
        background: #860a08;
        padding-right: 9px;
        margin-left: -10px;
        margin-top: -22px;
    }
    .modal-body {
        position: relative;
        /* padding: 11px; */
        height: 100%;
        padding-top: 15px;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px;
        line-height: 1.428571;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .tbody_modal {
        line-height: 1;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-size: 9px;
    }
    input.btn.btn_book.btn-sm {
        width: 60px;
        margin-left: -9px;
        font-size: 9px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 17px;
        display: none;
    }
    div#lightbox{
        width: 101%;
    }
    .modal_contant_advance {
        width: 123%;
        height: 98vh;
        margin-left:0;
        padding: 10px;
    }
    .form-group.pckg {
        width: 83%;
        margin-top:-10px;
    }
    .form-group.extra.extra_adult {
        width: 41%;
        display: inline-block;
    }
    button.btn.search-btn.searh_advance {
        margin-top: 0px;
        position: absolute;
        left: 37%;
    }
    .header_modal {
        background-color: #860a08;
        color: #fff;
        text-align: center;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: 62px;
    }
    #moodal {
        height: -2px;
    }
    #myModalLabel {
        color: white;
        text-align: center;
        background-color: #860a08;
        height: 53px;
        width: 91vw;
    }
    .plus_search{
        margin: 0;
        width: 920px;
    }
    .modal-content.adv_head {
        height: 96vh;
    }

    .modal-dialog.modal-lg.modal_lgs {
        width: 87%;
    }
    .extra_advs_adult {
        width: 16%!important;
        display: inline-block;
    }
    .upper_search{
        margin-left: -100%;
        margin-top: 14%;
    }
    .adv {
        width: 270px;
        margin-left: 120px;
        margin-top: -27px;
    }
    .advs {
        width: 32%;
    }
    .hea {
        margin-left: -15px;
        margin-top: -20px;
        width: 352px;
    }
    .check_available_1{
        background-color: #860a08;
    margin-right: 5px;
    width: 150px;
    margin-right: 0px;
    /* border-radius: 20px; */
    margin-top: 20px;
}
.explore_center{

    border-radius: 20px;
    visibility: visible;
    animation-delay: 0.4s;
    width: 135px;
}
.check_available{
    background-color: #860a08;
    margin-right: 5px;
    border-radius: 20px;
    width: 140px;
    margin-left: 0px;
    margin-top: 20px;
}
.search-form{
border-radius: 5px;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    /* margin-top: 40px; */
    /* display: flex; */

}
.main_heading_coco_p {
    margin-top: 118px;
}
.navbar-default .navbar-toggle {
border-color: #ddd;
    position: relative;
    background: white;
    margin-top:;
}
#navigation{
  background:#fff;
}


.secondary_paragraph{
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
}
.slider-item{
    width: 50%;
}
.slider-origin{
        display: inline-block;
    position: relative;
    /* top: 52px; */
    padding: 62px;
    right: 26%;
    font-size: 10px;
}
.slider-item h3{
    font-size: 21px;
    margin: 60px 0px 60px !important;
}
}

@media (min-width: 480px) and (max-width: 767px) {
    .welcome_text .page-title h2 {
        color: #9B9B9B;
        text-transform: uppercase;
        background-color: #FFF;
        top: 126px;
        right: 26px;
        font-weight: 500;
        font-size: 27px;
        padding: 35px 10px;
        height: 100px;
        position: initial;
        width: 100%;
        border-radius: 0px;
    }
    .asks-first {
        padding: 15px;
        margin-bottom: 10px;
    }
    .asks-first-info {
        color: #FFF;
        margin: 5px;
    }
    .welcome-circle {
        background-color: transparent;
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin: -18px 0px;
        border: 10px solid #FFF;
        position: relative;
        z-index: 1000;
    }
    .welcome-estate {
        background-color: #FFF;
        padding: 10px 0px;
        text-align: center;
        fill: #FFF;
    }

     .container .Welcome-entry {
        padding: 10px 5px 65px;
        overflow: hidden;
    }
    .header-connect {
        text-align: center;
    }
    .home-lager-shearch .large-search {
        padding: 10px;
    }
    .home-lager-shearch {
        padding-top: 0px;
        margin-top: -200px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        background-color: #FFF !important;
    }
    .navbar-default .navbar-nav>li>a::after {
        background-color: #FFF !important;
    }
    .slider-content {
        top: 10%;
    }
    .register-area {
        padding: 50px 0px;
    }
    .register-area .col-md-6 {
        margin-bottom: 15px;
    }
    .search-form {
        padding: 15px;
    }
    .search-form .form-inline .form-group {
        width: 100%;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    .bootstrap-select button.dropdown-toggle {
        width: 100%;
    }
    .search-form .search-toggle {
        margin-top: 15px;
        overflow: hidden;
        color: #777;
        border-top: 1px solid #EAEAEA;
        padding: 0px;
    }
    .search-btn,
    .toggle-btn {
        margin-bottom: 15px;
    }
    .prop-btm-sheaerch {
        display: block;
        margin: 0 auto;
    }
    .search-toggle .mar-l-20 {
        margin-left: 0px;
    }
    .box-tree .item-tree-icon {
        padding-top: 20%;
    }
    .more-proerty {
        padding-bottom: 35px;
    }
    .header-call p span {
        margin-right: 10px;
        font-size: 12px;
    }
    .header-call p span i {
        font-size: 14px;
    }
    .header-social ul {
        padding-top: 0px;
    }
    .header-social ul li a {
        font-size: 12px;
    }
    .navbar .container {
        padding: 10px 15px;
    }
    .navbar {
        min-height: 75px;
    }
    .navbar-collapse {
        margin-top: 15px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .nav-button {
        font-size: 13px;
        padding: 6px 13px;
    }
    .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 6px;
    }
    .main-nav {
        padding-top: 4px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        bottom: -2px;
        height: 2px;
        width: 100%;
    }
    .navbar-default .navbar-nav>li>a::after {
        bottom: -2px;
        height: 2px;
    }
    .slider-content {
        margin-left: 0px;
        padding: 25px;
    }
    .slider-content h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .search-form {
        padding: 20px 30px;
    }
    .slider-content {
        top: 5%;
    }
    .slider-area {
        height: 440px;
    }
    .content-area {
        padding-top: 100px;
    }
    #bg-slider .item img {
        height: 440px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 30px;
    }
    .page-title {
        padding-top: 50px;
    }
    .page-title h2 {
        font-size: 20px;
        margin-top: 2px;
    }
    .page-title h5 {
        font-size: 12px;
    }
    .page-title p {
        line-height: 20px;
        margin-top: 10px;
        font-size: 12px;
    }
    .nav>li>a {
        padding: 8px 10px;
    }
    .nav-tabs>li>a {
        font-size: 12px;
    }
    .overlay {
        height: 235px;
        top: -104px;
    }
    .proerty-th {
        margin-left: 0px;
    }
    .client-text {
        margin-left: 0;
    }
    .client-text p {
        line-height: 23px;
        padding: 0px 0px 0.24em;
        font-size: 13px;
    }
    .testimonial .item .client-face {
        top: 130px;
        right: 25px;
    }
    .single-footer img {
        width: 150px;
    }
    .single-footer p {
        font-size: 13px;
    }
    .footer-copy span {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .single-footer ul li {
        margin-bottom: 5px;
    }
    .single-footer ul li a {
        font-size: 13px;
    }
    .home-lager-shearch .large-search {
        padding: 10px;
    }
    .home-lager-shearch {
        padding-top: 0px;
        margin-top: -200px;
    }
    .pr0 {
        padding-right: 15px !important;
    }
    .proerty-th-list .col-md-4 .item-thumb img {
        height: 285px;
        width: 100%;
        padding-right: 14px;
    }
    .pl0 {
        padding-left: 15px !important;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .icon_package {
        width: 25px;
        margin-left: 22px;
        margin-top: 5px;
    }
    .package_image {
        width: 180px;
        /* margin-top: -250px; */
        -webkit-box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        margin-top: -15px;
        margin-left: 23px;
    }
    .SilverFritoSat {
        width: 181px;
        background-color: #dcdcdccc;
        margin-left: 0px;
        margin-top: -64px;
        position: relative;
        z-index: 100000;
        margin-left: 23px;
    }
    .farmhouse_n {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }
    .responsives {
        width: 78%;
        margin-left: 10%;
        height: 390px;
    }
    .row.fav {
        margin-right: -38x;
        margin-left: 15px;
    }
    .modal_card {
        width: 97vw;
        height: 100px;
        background: #860a08;
        padding-right: 9px;
        margin-left: -10px;
        margin-top: -22px;
    }

.modal_contant_advance {
    width: 123%;
    height: 236px;
    margin-left: -72px;
    padding: 10px;
}
#moodal {
    height: -2px;
}
#myModalLabel {
    color: white;
    text-align: center;
    background-color: #860a08;
    height: 53px;
    width: 91vw;
}
.plus_search{
    margin: 0;
    width: 217vw;
}
.modal-content.adv_head {
    height: 89vh;
}

.modal-dialog.modal-lg.modal_lgs {
    width: 87%;
}


.navbar-default .navbar-toggle {
border-color: #ddd;
    position: relative;
    background: white;
    margin-top: -6%;
}
div#navigation {
    background: white;
    position: relative;
    margin-top: 2px;
    padding: 19px;
    }
}



@media (min-width: 768px) and (max-width: 979px) {
    .header-call p span {
        margin-right: 10px;
        font-size: 12px;
    }
    .header-call p span i {
        font-size: 14px;
    }
    .header-social ul {
        padding-top: 0px;
    }
    .header-social ul li a {
        font-size: 12px;
    }
    .navbar {
        min-height: 85px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .nav-button {
        font-size: 13px;
        padding: 6px 13px;
    }
    .navbar-nav>li>a {
        padding-left: 6px;
        padding-right: 6px;
    }
    .main-nav {
        padding-top: 4px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        bottom: -15px;
        height: 4px;
        width: 100%;
    }
    .navbar-default .navbar-nav>li>a::after {
        bottom: -15px;
        height: 4px;
    }
    .register-area .col-md-6 {
        margin-bottom: 15px;
    }
    .slider-content {
        margin-left: 0px;
        padding: 35px;
    }
    .slider-content h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .search-form {
        padding: 15px 0;
    }
    .form-inline .form-control,
    .form-inline .form-control {
        width: 100%;
    }
    .slider-area {
        height: 440px;
    }
    .content-area {
        padding-top: 15px;
    }
    .search-form .form-inline .form-group {
        width: 195px;
    }
    #bg-slider .item img {
        height: 440px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 30px;
    }
    .page-title {
        padding-top: 50px;
    }
    .page-title h2 {
        font-size: 20px;
        margin-top: 2px;
    }
    .page-title h5 {
        font-size: 12px;
    }
    .page-title p {
        line-height: 20px;
        margin-top: 10px;
        font-size: 12px;
    }
    .tab-content ul li {
        height: 235px;
        margin-bottom: 20px;
        width: 219px;
    }
    .tab-content ul li a img {
        height: 100%;
        width: 100%;
    }
    .overlay {
        height: 235px;
        top: -104px;
    }
    .client-text {
        margin-left: 0;
    }
    .client-text p {
        line-height: 22px;
        padding: 0px 0px 0.35em;
        font-size: 14px;
    }
    .asks-first {
        margin-bottom: 10px;
    }
    .testimonial .item .client-face {
        right: 17px;
        top: 100px;
    }
    .single-footer img {
        width: 150px;
    }
    .single-footer p {
        font-size: 13px;
    }
    .footer-copy span {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .single-footer ul li {
        margin-bottom: 5px;
    }
    .single-footer ul li a {
        font-size: 13px;
    }
    .proerty-th-list .col-md-4 .item-thumb img {
        height: 285px;
        width: 100%;
        padding-right: 14px;
    }
    .pr0 {
        padding-right: 15px !important;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .icon_package {
        width: 25px;
        margin-left: 22px;
        margin-top: 5px;
    }
    .package_image {
        width: 180px;
        /* margin-top: -250px; */
        -webkit-box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        margin-top: -15px;
        margin-left: 23px;
    }
    .SilverFritoSat {
        width: 181px;
        background-color: #dcdcdccc;
        margin-left: 0px;
        margin-top: -64px;
        position: relative;
        z-index: 100000;
        margin-left: 23px;
    }
    .farmhouse_n {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }
    .responsives {
        width: 78%;
        margin-left: 10%;
        height: 390px;
    }
    .row.fav {
        margin-right: -38x;
        margin-left: 15px;
    }
    .modal_contant_advance {
        width: 123%;
        height: 250px;
        margin-left: -69px;
        padding: 10px;
    }
}

@media (min-width: 969px) and (max-width: 1169px) {
    .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-social .list-inline>li {
        padding-right: 0px
    }
    .slider-content {
        margin-left: 0px;
    }
    .slider-area {
        height: 540px;
    }
    #bg-slider .item img {
        height: 540px;
    }
    .tab-content ul li {
        height: 160px;
        width: 145px;
    }
    .tab-content ul li a img {
        width: 100%;
        height: 100%;
    }
    .overlay>h3 {
        font-size: 15px;
        left: 10px;
    }
    .client-text {
        margin-left: 5px;
    }
    .testimonial .item .client-face {
        right: 29px;
        top: 125px;
    }
    .client-text p {
        line-height: 22px;
        padding: 0px 0px 0.35em;
        font-size: 14px;
    }
    .client-text {
        border-radius: 2px;
        padding: 15px 15px;
        margin: 15px;
        border: 1px solid #ECE9E9;
        background-color: #F5F5F5;
    }
    .proerty-th-list .col-md-4 .item-thumb img {
        height: 285px;
        width: 100%;
        padding-right: 14px;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .icon_package {
        width: 25px;
        margin-left: 22px;
        margin-top: 5px;
    }
    .package_image {
        width: 180px;
        /* margin-top: -250px; */
        -webkit-box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.57);
        margin-top: -15px;
        margin-left: 23px;
    }
    .SilverFritoSat {
        width: 181px;
        background-color: #dcdcdccc;
        margin-left: 0px;
        margin-top: -64px;
        position: relative;
        z-index: 100000;
        margin-left: 23px;
    }
    .farmhouse_n {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }
    .responsives {
        width: 78%;
        margin-left: 10%;
        height: 390px;
    }
    .row.fav {
        margin-right: -38x;
        margin-left: 15px;
    }


.Welcome-area {
    background: #F3F3F3 url(../../assets/img/green-leaf-tree-1006321.jpg) no-repeat scroll left top;
        background-position: center;
    background-size: cover;
    position: relative;
    height: 44vh;
    width: 123%;

}
.modal_contant_advance {
    width: 128%;
    height: 100%;
    margin-left: -50px;

    padding: 10px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: -85%;
}
/* .modal_contant_advance {
    width: 123%;
    height: 236px;
    margin-left: -72px;
    padding: 10px;
} */
}
@media (min-width: 1600px) {
.page-title h2{
    margin-top: 26%;
    }
    div#bookingsearch {
    display: block;
    visibility: visible;
    animation-name: pulse;
    width: 132%;
    margin-left: -184px;
    height: 110px;
    margin-top: 140px;
}
.co_but{
    margin-top: 41px;

}
.welcome_text .page-title h2 {
  color: white;
      text-transform: uppercase;
      background-color: rgba(183, 128, 24, 0.38);
      position: absolute;
      top: 125%;
      left: 141%;
      font-weight: 500;
      font-size: 26px;
      border-radius: 50%;
      padding: 35px 10px;
      width: 170px;
      height: 160px;
  }
  .light-slide-item {
    height: 37vh;
}
}
    @media (min-width: 1920px){
 .content-area{
    margin-top: 10% !important;
}
.content_area_3{
    margin-top: 0!important;
}
.content_area_2{
    margin-top: 0!important;
}
.content_area_4 {
    margin-top: -41%;
}
.tab-content ul li:last-child {
    margin-right: 0;
    width: 339px;
}
.light-slide-item {
    height: 37vh;
}
#bookingsearch {
    display: block;
    visibility: visible;
    animation-name: pulse;
    width: 140%;
    margin-left: -270px;
    height: 110px;
    margin-top: 65px;
}
.slider-content {
    position: absolute;
    top: 44%;
    text-align: center;
    color: #FFF;
    width: 100%;
}
.Welcome-area {
    background: #F3F3F3 url(../../assets/img/welcome-bg.png) no-repeat scroll left top;
    position: relative;
    height: 54vh;
}
}
 @media (min-width: 1366px){
    #bookingsearch {
    display: block;
    visibility: visible;
    animation-name: pulse;
    width: 149%;
    margin-left: -220px;
    height: 110px;
    margin-top: 35px;
}
    }
